Repository opendevstack/ods-quickstarters, changes with the owners that CODEOWNERS names for each.
All owners: @clemensutschig, @gerardcl, @henrjk, @stitakis, @renedupont, @buegelbeatz, @flightlama, @oalyman, @sino92, @hugowschneider, @sklingel, @cschweikert, @garcanam, @roicarrera, @metmajer, @rianet, @bljubisic, @terra-naut, @tbugfinder

refactor: adaptions based on review
  e2e-etl-python/Jenkinsfile.template
Owners: none

fix test credentials for e2e-etl-python (#1127)
  CHANGELOG.md
  e2e-etl-python/Jenkinsfile.template
  e2e-etl-python/test.yml.template
Owners: none

feat: locked dependencies versions, started own versioning
  e2e-cypress/README.md
  e2e-cypress/files/package.json
Owners: @cschweikert, @garcanam, @roicarrera

updated CHANGELOG.md
  CHANGELOG.md
Owners: none

rust-toolchain in TOML, rustfmt.toml update and upgrade default MSRV to 1.88.0
  be-rust-axum/rust-template/Cargo.toml
  be-rust-axum/rust-template/metadata.yml
  be-rust-axum/rust-template/rust-toolchain
  be-rust-axum/rust-template/rust-toolchain.toml
  be-rust-axum/rust-template/rustfmt.toml
  common/jenkins-agents/rust/ocp-config/bc.yml
  docs/modules/jenkins-agents/pages/rust.adoc
  docs/modules/quickstarters/pages/be-rust-axum.adoc
Owners: @gerardcl, @flightlama

Add PROD config in metadata.yml template (#1126)
  CHANGELOG.md
  release-manager/metadata.yml.tmpl
Owners: @metmajer

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Add PROD config in metadata.yml template (#1126)
  CHANGELOG.md
  release-manager/metadata.yml.tmpl
Owners: @metmajer

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Prepare release 4.9.0 (#1129)
  CHANGELOG.md
  release-manager/metadata.yml.tmpl
Owners: @metmajer

rustup managed rust installation enabling runtime toolchain and version selection
  .github/workflows/continuous-integration-workflow.yml
  be-rust-axum/Jenkinsfile.template
  be-rust-axum/rust-template/.pre-commit-config.yaml
  be-rust-axum/rust-template/Cargo.toml
  be-rust-axum/rust-template/README.md
  be-rust-axum/rust-template/cargo-generate.toml
  be-rust-axum/rust-template/metadata.yml
  be-rust-axum/rust-template/rust-toolchain
  be-rust-axum/rust-template/src/api/router.rs
  be-rust-axum/rust-template/src/api/routes/status.rs
  be-rust-axum/rust-template/src/config/settings.rs
  be-rust-axum/rust-template/src/main.rs
  be-rust-axum/rust-template/tests/status_test.rs
  common/jenkins-agents/rust/docker/Dockerfile.ubi8
  common/jenkins-agents/rust/ocp-config/bc.yml
  docs/modules/jenkins-agents/pages/rust.adoc
  docs/modules/quickstarters/pages/be-rust-axum.adoc
Owners: @gerardcl, @flightlama

enable easy switch on and off of cargo-deny - closing #1107
  be-rust-axum/Jenkinsfile.template
  docs/modules/jenkins-agents/pages/rust.adoc
Owners: @gerardcl, @flightlama

update changelog
  CHANGELOG.md
Owners: none

rust-toolchain in TOML, rustfmt.toml update and upgrade default MSRV to 1.88.0
  be-rust-axum/rust-template/Cargo.toml
  be-rust-axum/rust-template/metadata.yml
  be-rust-axum/rust-template/rust-toolchain
  be-rust-axum/rust-template/rust-toolchain.toml
  be-rust-axum/rust-template/rustfmt.toml
  common/jenkins-agents/rust/ocp-config/bc.yml
  docs/modules/jenkins-agents/pages/rust.adoc
  docs/modules/quickstarters/pages/be-rust-axum.adoc
Owners: @gerardcl, @flightlama

make rust cargo deny depdency auditing disabled by default in Jenkins CICD
  .github/workflows/continuous-integration-workflow.yml
  be-rust-axum/Jenkinsfile.template
  be-rust-axum/rust-template/README.md
  be-rust-axum/testdata/golden/jenkins-build-stages.json
Owners: @gerardcl, @flightlama

fix: rolled back pinned versions
  CHANGELOG.md
  e2e-cypress/files/package.json
Owners: @cschweikert, @garcanam, @roicarrera

Add stage to wait for Docgen readiness and handle idling in Jenkinsfile
  release-manager/Jenkinsfile
Owners: @metmajer

Refactor Docgen readiness check in Jenkinsfile to use JSON output and jq for improved reliability
  release-manager/Jenkinsfile
Owners: @metmajer

Refactor Docgen readiness check to remove recovery attempts and streamline idling logic
  release-manager/Jenkinsfile
Owners: @metmajer

Added Cypress QS specific versioning (#1128)
  CHANGELOG.md
  e2e-cypress/README.md
  e2e-cypress/files/package.json
Owners: @cschweikert, @garcanam, @roicarrera

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

e2e-cypress small improvements (#1114)
  CHANGELOG.md
  e2e-cypress/Jenkinsfile
  e2e-cypress/Jenkinsfile.template
  e2e-cypress/files/cypress-acceptance.config.ts
  e2e-cypress/files/cypress-installation.config.ts
  e2e-cypress/files/cypress-integration.config.ts
  e2e-cypress/files/pdf-generator.ts
  e2e-cypress/files/support/commands.ts
  e2e-cypress/files/support/e2e.ts
  e2e-cypress/files/support/login-functions.ts
  e2e-cypress/files/tests/acceptance/acceptance.spec.cy.ts
  e2e-cypress/files/tsconfig.json
  e2e-cypress/testdata/golden/jenkins-build-stages.json
  e2e-cypress/testdata/golden/jenkins-provision-stages.json
Owners: @cschweikert, @garcanam, @roicarrera

e2e-cypress: get rid of additional chrome installation (#1112)
  CHANGELOG.md
  e2e-cypress/files/package.json
  e2e-cypress/files/pdf-generator.ts
Owners: @cschweikert, @garcanam, @roicarrera

Adapt Jenkinsfile to Jira Zephyr ODS integration (#1125)
  CHANGELOG.md
  be-python-flask/Jenkinsfile.template
Owners: @buegelbeatz, @henrjk, @gerardcl

fix test credentials for e2e-etl-python (#1127)
  CHANGELOG.md
  e2e-etl-python/Jenkinsfile.template
  e2e-etl-python/test.yml.template
Owners: none

Added Cypress QS specific versioning (#1128)
  CHANGELOG.md
  e2e-cypress/README.md
  e2e-cypress/files/package.json
Owners: @cschweikert, @garcanam, @roicarrera

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Prepare release 4.10.0 (#1132)
  CHANGELOG.md
  be-python-flask/Jenkinsfile.template
  e2e-cypress/Jenkinsfile
  e2e-cypress/Jenkinsfile.template
  e2e-cypress/README.md
  e2e-cypress/files/cypress-acceptance.config.ts
  e2e-cypress/files/cypress-installation.config.ts
  e2e-cypress/files/cypress-integration.config.ts
  e2e-cypress/files/package.json
  e2e-cypress/files/pdf-generator.ts
  e2e-cypress/files/support/commands.ts
  e2e-cypress/files/support/e2e.ts
  e2e-cypress/files/support/login-functions.ts
  e2e-cypress/files/tests/acceptance/acceptance.spec.cy.ts
  e2e-cypress/files/tsconfig.json
  e2e-cypress/testdata/golden/jenkins-build-stages.json
  e2e-cypress/testdata/golden/jenkins-provision-stages.json
  e2e-etl-python/Jenkinsfile.template
  e2e-etl-python/test.yml.template
Owners: @buegelbeatz, @henrjk, @gerardcl, @cschweikert, @garcanam, @roicarrera

feat: INFIAAS-9233 Upgrade with dynamic backend configuration of Azure quickstarter
  CHANGELOG.md
  inf-terraform-azure/Jenkinsfile.template
  inf-terraform-azure/files/Makefile
  inf-terraform-azure/files/README.md
  inf-terraform-azure/files/backend.tf
  inf-terraform-azure/files/environments/dev.json
  inf-terraform-azure/files/environments/dev.yml
  inf-terraform-azure/files/environments/prod.yml
  inf-terraform-azure/files/environments/productive.json
  inf-terraform-azure/files/environments/test.json
  inf-terraform-azure/files/environments/test.yml
  inf-terraform-azure/files/environments/testing.yml
  inf-terraform-azure/files/inputs2outputs.tf
  inf-terraform-azure/files/main.tf
  inf-terraform-azure/files/test/fixtures/default/main.tf
  inf-terraform-azure/files/test/fixtures/default/moduleoutputs.tf
  inf-terraform-azure/files/variables.tf
  inf-terraform-azure/files/versions.tf
Owners: @terra-naut, @tbugfinder

feat: add jenkins-agent-nodejs24
  .github/workflows/continuous-integration-workflow.yml
  Makefile
  common/jenkins-agents/README.md
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs24/docker/contrib/bin/configure-agent
  common/jenkins-agents/nodejs24/docker/yum.repos.d/almalinux.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/google-chrome.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/microsoft-edge.repo
  common/jenkins-agents/nodejs24/ocp-config/Tailorfile
  common/jenkins-agents/nodejs24/ocp-config/bc.yml
  common/jenkins-agents/nodejs24/ocp-config/is.yml
  docs/modules/jenkins-agents/pages/nodejs24.adoc
  docs/modules/quickstarters/nav.adoc
Owners: none

refactor: remove jenkins-agent-nodejs18
  CHANGELOG.md
Owners: none

refactor: remove jenkins-agent-nodejs18
  .github/workflows/continuous-integration-workflow.yml
  CHANGELOG.md
  Makefile
  common/jenkins-agents/README.md
  common/jenkins-agents/nodejs18/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs18/docker/contrib/bin/configure-agent
  common/jenkins-agents/nodejs18/docker/contrib/bin/scl_enable
  common/jenkins-agents/nodejs18/docker/yum.repos.d/almalinux.repo
  common/jenkins-agents/nodejs18/docker/yum.repos.d/google-chrome.repo
  common/jenkins-agents/nodejs18/docker/yum.repos.d/microsoft-edge.repo
  common/jenkins-agents/nodejs18/ocp-config/Tailorfile
  common/jenkins-agents/nodejs18/ocp-config/bc.yml
  common/jenkins-agents/nodejs18/ocp-config/is.yml
  docs/modules/jenkins-agents/pages/nodejs18.adoc
  docs/modules/quickstarters/nav.adoc
Owners: none

feat: INFIAAS-9233 Upgrade with dynamic backend configuration of Azure quickstarter (#1131)
  CHANGELOG.md
  inf-terraform-azure/Jenkinsfile.template
  inf-terraform-azure/files/Makefile
  inf-terraform-azure/files/README.md
  inf-terraform-azure/files/backend.tf
  inf-terraform-azure/files/environments/dev.json
  inf-terraform-azure/files/environments/dev.yml
  inf-terraform-azure/files/environments/prod.yml
  inf-terraform-azure/files/environments/productive.json
  inf-terraform-azure/files/environments/test.json
  inf-terraform-azure/files/environments/test.yml
  inf-terraform-azure/files/environments/testing.yml
  inf-terraform-azure/files/inputs2outputs.tf
  inf-terraform-azure/files/main.tf
  inf-terraform-azure/files/test/fixtures/default/main.tf
  inf-terraform-azure/files/test/fixtures/default/moduleoutputs.tf
  inf-terraform-azure/files/variables.tf
  inf-terraform-azure/files/versions.tf
Owners: @terra-naut, @tbugfinder

docs: update changelog
  CHANGELOG.md
Owners: none

add gh action
  .github/workflows/pr-e2e-codeowners-notification.yml
Owners: none

Add jenkins-agent-nodejs24 (#1134)
  .github/workflows/continuous-integration-workflow.yml
  CHANGELOG.md
  Makefile
  common/jenkins-agents/README.md
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs24/docker/contrib/bin/configure-agent
  common/jenkins-agents/nodejs24/docker/yum.repos.d/almalinux.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/google-chrome.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/microsoft-edge.repo
  common/jenkins-agents/nodejs24/ocp-config/Tailorfile
  common/jenkins-agents/nodejs24/ocp-config/bc.yml
  common/jenkins-agents/nodejs24/ocp-config/is.yml
  docs/modules/jenkins-agents/pages/nodejs24.adoc
  docs/modules/quickstarters/nav.adoc
Owners: none

Changelog
  .github/workflows/pr-e2e-codeowners-notification.yml
  CHANGELOG.md
Owners: none

add gh action for custom e2e QS notification (#1137)
  .github/workflows/pr-e2e-codeowners-notification.yml
  CHANGELOG.md
Owners: none

up doc, up selectors
  docker-plain/Jenkinsfile.template
  docker-plain/files/chart/values.yaml
Owners: none

disable autoscaling multiple times
  docker-plain/files/chart/values.yaml
Owners: none

CODEOWNERS:

/be-fe-mono-repo-plain/ @clemensutschig
/be-gateway-nginx/ @gerardcl
/be-golang-plain/ @henrjk
/be-java-springboot/ @stitakis @renedupont
/be-python-flask/ @buegelbeatz @henrjk @gerardcl
/be-rust-axum/ @gerardcl @flightlama
/be-scala-play/ @oalyman
/be-typescript-express/ @sino92
/docker-plain/ 
/ds-jupyter-lab/ @gerardcl @hugowschneider
/ds-rshiny/ @gerardcl
/ds-streamlit/ @sklingel
/e2e-cypress/ @cschweikert @garcanam @roicarrera
/e2e-spock-geb/ @metmajer @garcanam @roicarrera
/fe-angular/ @cschweikert
/fe-ionic/ @rianet @bljubisic
/inf-terraform-aws/ @terra-naut @tbugfinder
/inf-terraform-azure/ @terra-naut @tbugfinder
/ods-document-gen-svc/ @metmajer
/ods-provisioning-app/ @clemensutschig
/release-manager/ @metmajer
