Repository opendevstack/ods-quickstarters, changes with the owners that CODEOWNERS names for each.
All owners: @clemensutschig, @gerardcl, @henrjk, @stitakis, @renedupont, @buegelbeatz, @flightlama, @oalyman, @sino92, @hugowschneider, @sklingel, @cschweikert, @garcanam, @roicarrera, @metmajer, @rianet, @bljubisic, @terra-naut, @tbugfinder

CODEOWNERS:

/be-fe-mono-repo-plain/ @clemensutschig
/be-gateway-nginx/ @gerardcl
/be-golang-plain/ @henrjk
/be-java-springboot/ @stitakis @renedupont
/be-python-flask/ @buegelbeatz @henrjk @gerardcl
/be-rust-axum/ @gerardcl @flightlama
/be-scala-play/ @oalyman
/be-typescript-express/ @sino92
/docker-plain/ 
/ds-jupyter-lab/ @gerardcl @hugowschneider
/ds-rshiny/ @gerardcl
/ds-streamlit/ @sklingel
/e2e-cypress/ @cschweikert @garcanam @roicarrera
/e2e-spock-geb/ @metmajer @garcanam @roicarrera
/fe-angular/ @cschweikert
/fe-ionic/ @rianet @bljubisic
/inf-terraform-aws/ @terra-naut @tbugfinder
/inf-terraform-azure/ @terra-naut @tbugfinder
/ods-document-gen-svc/ @metmajer
/ods-provisioning-app/ @clemensutschig
/release-manager/ @metmajer

remove yum update
  common/jenkins-agents/rust/docker/Dockerfile.ubi8
Owners: none

Update Dockerfile to include RUST_VERSION in environment variables and fix commented rustup command
  be-rust-axum/Jenkinsfile.template
  common/jenkins-agents/rust/docker/Dockerfile.ubi8
Owners: @gerardcl, @flightlama

Feat - Rust rustup dynamic toolchain selection enablement (#1120)
  .github/workflows/continuous-integration-workflow.yml
  CHANGELOG.md
  be-rust-axum/Jenkinsfile.template
  be-rust-axum/rust-template/.pre-commit-config.yaml
  be-rust-axum/rust-template/Cargo.toml
  be-rust-axum/rust-template/README.md
  be-rust-axum/rust-template/cargo-generate.toml
  be-rust-axum/rust-template/metadata.yml
  be-rust-axum/rust-template/rust-toolchain.toml
  be-rust-axum/rust-template/rustfmt.toml
  be-rust-axum/rust-template/src/api/router.rs
  be-rust-axum/rust-template/src/api/routes/status.rs
  be-rust-axum/rust-template/src/config/settings.rs
  be-rust-axum/rust-template/src/main.rs
  be-rust-axum/rust-template/tests/status_test.rs
  be-rust-axum/testdata/golden/jenkins-build-stages.json
  common/jenkins-agents/rust/docker/Dockerfile.ubi8
  common/jenkins-agents/rust/ocp-config/bc.yml
  docs/modules/jenkins-agents/pages/rust.adoc
  docs/modules/quickstarters/pages/be-rust-axum.adoc
Owners: @gerardcl, @flightlama

Fix changelog
  CHANGELOG.md
Owners: none

Update releaseName comment in Jenkinsfile.template
  docker-plain/Jenkinsfile.template
Owners: none

Docker plain helm chart (#1035)
  CHANGELOG.md
  docker-plain/Chart.yaml.template
  docker-plain/Jenkinsfile
  docker-plain/Jenkinsfile.template
  docker-plain/files/README.md
  docker-plain/files/chart/.helmignore
  docker-plain/files/chart/Chart.yaml
  docker-plain/files/chart/templates/NOTES.txt
  docker-plain/files/chart/templates/_affinity.tpl
  docker-plain/files/chart/templates/_helpers.tpl
  docker-plain/files/chart/templates/_image.tpl
  docker-plain/files/chart/templates/_labels.tpl
  docker-plain/files/chart/templates/deployment.yaml
  docker-plain/files/chart/templates/hpa.yaml
  docker-plain/files/chart/templates/ingress.yaml
  docker-plain/files/chart/templates/service.yaml
  docker-plain/files/chart/templates/serviceaccount.yaml
  docker-plain/files/chart/templates/tests/test-connection.yaml
  docker-plain/files/chart/values.dev.yaml
  docker-plain/files/chart/values.prod.yaml
  docker-plain/files/chart/values.schema.json
  docker-plain/files/chart/values.test.yaml
  docker-plain/files/chart/values.yaml
  docker-plain/files/docker/Dockerfile
  docker-plain/files/docker/default.conf
  docker-plain/testdata/steps.yml
Owners: none

Fix parameter name for Spring Boot version
  be-java-springboot/Jenkinsfile
Owners: @stitakis, @renedupont

changelog
  CHANGELOG.md
Owners: none

change springboot project creation
  be-java-springboot/Jenkinsfile
Owners: @stitakis, @renedupont

Refactor Spring Boot project creation to use a variable for the Spring Initializr URL
  be-java-springboot/Jenkinsfile
Owners: @stitakis, @renedupont

Update Spring Boot version to 4.0.0 and upgrade Gradle wrapper to 9.2.1
  be-java-springboot/Jenkinsfile
  be-java-springboot/files/gradle/wrapper/gradle-wrapper.properties
Owners: @stitakis, @renedupont

Update Spring Boot version to 4.0.0 and Gradle wrapper to 9.2.1 in documentation
  docs/modules/quickstarters/pages/be-java-springboot.adoc
Owners: none

Fix parameter name for Spring Boot version and update to 4.0.0 (#1138)
  CHANGELOG.md
  be-java-springboot/Jenkinsfile
  be-java-springboot/files/gradle/wrapper/gradle-wrapper.properties
  docs/modules/quickstarters/pages/be-java-springboot.adoc
Owners: @stitakis, @renedupont

Fix parameters in golden test
  be-golang-plain/testdata/golden/sonar-scan.json
  be-java-springboot/testdata/golden/sonar-scan.json
  be-python-flask/testdata/golden/sonar-scan.json
  be-rust-axum/testdata/golden/sonar-scan.json
  be-scala-play/testdata/golden/sonar-scan.json
  be-typescript-express/testdata/golden/sonar-scan.json
  docker-plain/testdata/golden/jenkins-build-stages.json
  docker-plain/testdata/golden/jenkins-provision-stages.json
  ds-jupyter-lab/testdata/golden/jenkins-build-stages.json
  ds-jupyter-lab/testdata/steps.yml
  ds-streamlit/testdata/golden/sonar-scan.json
  e2e-cypress/testdata/golden/jenkins-build-stages.json
  e2e-cypress/testdata/golden/sonar-scan.json
  e2e-etl-python/testdata/golden/sonar-scan.json
  e2e-spock-geb/testdata/golden/jenkins-build-stages.json
  e2e-spock-geb/testdata/golden/jenkins-provision-stages.json
  e2e-spock-geb/testdata/golden/sonar-scan.json
  e2e-spock-geb/testdata/steps.yml
  fe-angular/testdata/golden/sonar-scan.json
  fe-ionic/testdata/golden/sonar-scan.json
  ods-document-gen-svc/testdata/golden/sonar-scan.json
  ods-provisioning-app/testdata/golden/sonar-scan.json
  release-manager/testdata/steps.yml
Owners: @henrjk, @stitakis, @renedupont, @buegelbeatz, @gerardcl, @flightlama, @oalyman, @sino92, @hugowschneider, @sklingel, @cschweikert, @garcanam, @roicarrera, @metmajer, @rianet, @bljubisic, @clemensutschig

Update CHANGELOG for version 4.11.0
  CHANGELOG.md
Owners: none

feat: INFIAAS-9233 Upgrade with dynamic backend configuration of Azure quickstarter (#1131)
  CHANGELOG.md
  inf-terraform-azure/Jenkinsfile.template
  inf-terraform-azure/files/Makefile
  inf-terraform-azure/files/README.md
  inf-terraform-azure/files/backend.tf
  inf-terraform-azure/files/environments/dev.json
  inf-terraform-azure/files/environments/dev.yml
  inf-terraform-azure/files/environments/prod.yml
  inf-terraform-azure/files/environments/productive.json
  inf-terraform-azure/files/environments/test.json
  inf-terraform-azure/files/environments/test.yml
  inf-terraform-azure/files/environments/testing.yml
  inf-terraform-azure/files/inputs2outputs.tf
  inf-terraform-azure/files/main.tf
  inf-terraform-azure/files/test/fixtures/default/main.tf
  inf-terraform-azure/files/test/fixtures/default/moduleoutputs.tf
  inf-terraform-azure/files/variables.tf
  inf-terraform-azure/files/versions.tf
Owners: @terra-naut, @tbugfinder

changelog
  CHANGELOG.md
Owners: none

Add jenkins-agent-nodejs24 (#1134)
  .github/workflows/continuous-integration-workflow.yml
  CHANGELOG.md
  Makefile
  common/jenkins-agents/README.md
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs24/docker/contrib/bin/configure-agent
  common/jenkins-agents/nodejs24/docker/yum.repos.d/almalinux.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/google-chrome.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/microsoft-edge.repo
  common/jenkins-agents/nodejs24/ocp-config/Tailorfile
  common/jenkins-agents/nodejs24/ocp-config/bc.yml
  common/jenkins-agents/nodejs24/ocp-config/is.yml
  docs/modules/jenkins-agents/pages/nodejs24.adoc
  docs/modules/quickstarters/nav.adoc
Owners: none

add gh action for custom e2e QS notification (#1137)
  .github/workflows/pr-e2e-codeowners-notification.yml
  CHANGELOG.md
Owners: none

Feat - Rust rustup dynamic toolchain selection enablement (#1120)
  .github/workflows/continuous-integration-workflow.yml
  CHANGELOG.md
  be-rust-axum/Jenkinsfile.template
  be-rust-axum/rust-template/.pre-commit-config.yaml
  be-rust-axum/rust-template/Cargo.toml
  be-rust-axum/rust-template/README.md
  be-rust-axum/rust-template/cargo-generate.toml
  be-rust-axum/rust-template/metadata.yml
  be-rust-axum/rust-template/rust-toolchain.toml
  be-rust-axum/rust-template/rustfmt.toml
  be-rust-axum/rust-template/src/api/router.rs
  be-rust-axum/rust-template/src/api/routes/status.rs
  be-rust-axum/rust-template/src/config/settings.rs
  be-rust-axum/rust-template/src/main.rs
  be-rust-axum/rust-template/tests/status_test.rs
  be-rust-axum/testdata/golden/jenkins-build-stages.json
  common/jenkins-agents/rust/docker/Dockerfile.ubi8
  common/jenkins-agents/rust/ocp-config/bc.yml
  docs/modules/jenkins-agents/pages/rust.adoc
  docs/modules/quickstarters/pages/be-rust-axum.adoc
Owners: @gerardcl, @flightlama

Fix changelog
  CHANGELOG.md
Owners: none

Docker plain helm chart (#1035)
  CHANGELOG.md
  docker-plain/Chart.yaml.template
  docker-plain/Jenkinsfile
  docker-plain/Jenkinsfile.template
  docker-plain/files/README.md
  docker-plain/files/chart/.helmignore
  docker-plain/files/chart/Chart.yaml
  docker-plain/files/chart/templates/NOTES.txt
  docker-plain/files/chart/templates/_affinity.tpl
  docker-plain/files/chart/templates/_helpers.tpl
  docker-plain/files/chart/templates/_image.tpl
  docker-plain/files/chart/templates/_labels.tpl
  docker-plain/files/chart/templates/deployment.yaml
  docker-plain/files/chart/templates/hpa.yaml
  docker-plain/files/chart/templates/ingress.yaml
  docker-plain/files/chart/templates/service.yaml
  docker-plain/files/chart/templates/serviceaccount.yaml
  docker-plain/files/chart/templates/tests/test-connection.yaml
  docker-plain/files/chart/values.dev.yaml
  docker-plain/files/chart/values.prod.yaml
  docker-plain/files/chart/values.schema.json
  docker-plain/files/chart/values.test.yaml
  docker-plain/files/chart/values.yaml
  docker-plain/files/docker/Dockerfile
  docker-plain/files/docker/default.conf
  docker-plain/testdata/steps.yml
Owners: none

Fix parameter name for Spring Boot version and update to 4.0.0 (#1138)
  CHANGELOG.md
  be-java-springboot/Jenkinsfile
  be-java-springboot/files/gradle/wrapper/gradle-wrapper.properties
  docs/modules/quickstarters/pages/be-java-springboot.adoc
Owners: @stitakis, @renedupont

Update CHANGELOG for version 4.11.0
  CHANGELOG.md
Owners: none

add rhel9 agents variants
  Makefile
  common/jenkins-agents/golang/docker/Dockerfile.ubi9
  common/jenkins-agents/golang/ocp-config/bc.yml
  common/jenkins-agents/jdk/docker/Dockerfile.ubi9
  common/jenkins-agents/jdk/ocp-config/bc.yml
  common/jenkins-agents/nodejs18/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs18/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs18/docker/yum.repos.d/almalinux8.repo
  common/jenkins-agents/nodejs18/docker/yum.repos.d/almalinux9.repo
  common/jenkins-agents/nodejs18/ocp-config/bc.yml
  common/jenkins-agents/nodejs20/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs20/docker/yum.repos.d/almalinux8.repo
  common/jenkins-agents/nodejs20/docker/yum.repos.d/almalinux9.repo
  common/jenkins-agents/nodejs20/ocp-config/bc.yml
  common/jenkins-agents/nodejs22/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs22/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs22/docker/yum.repos.d/almalinux8.repo
  common/jenkins-agents/nodejs22/docker/yum.repos.d/almalinux9.repo
  common/jenkins-agents/nodejs22/ocp-config/bc.yml
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi8
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs24/docker/yum.repos.d/almalinux8.repo
  common/jenkins-agents/nodejs24/docker/yum.repos.d/almalinux9.repo
  common/jenkins-agents/nodejs24/ocp-config/bc.yml
  common/jenkins-agents/python/docker/Dockerfile.ubi9
  common/jenkins-agents/python/ocp-config/bc.yml
  common/jenkins-agents/rust/docker/Dockerfile.ubi9
  common/jenkins-agents/rust/ocp-config/bc.yml
  common/jenkins-agents/scala/docker/Dockerfile.ubi9
  common/jenkins-agents/scala/ocp-config/bc.yml
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2306/docker/yum.repos.d/almalinux8.repo
  common/jenkins-agents/terraform-2306/docker/yum.repos.d/almalinux9.repo
  common/jenkins-agents/terraform-2306/ocp-config/bc.yml
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi8
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/yum.repos.d/almalinux8.repo
  common/jenkins-agents/terraform-2408/docker/yum.repos.d/almalinux9.repo
  common/jenkins-agents/terraform-2408/ocp-config/bc.yml
Owners: none

set version for botocore
  common/jenkins-agents/terraform-2306/docker/python_requirements
  common/jenkins-agents/terraform-2408/docker/python_requirements
Owners: none

increase Ephemeral storage
  common/jenkins-agents/jdk/ocp-config/bc.yml
  common/jenkins-agents/nodejs18/ocp-config/bc.yml
  common/jenkins-agents/nodejs20/ocp-config/bc.yml
  common/jenkins-agents/nodejs22/ocp-config/bc.yml
  common/jenkins-agents/nodejs24/ocp-config/bc.yml
  common/jenkins-agents/python/ocp-config/bc.yml
  common/jenkins-agents/rust/ocp-config/bc.yml
  common/jenkins-agents/scala/ocp-config/bc.yml
  common/jenkins-agents/terraform-2306/ocp-config/bc.yml
  common/jenkins-agents/terraform-2408/ocp-config/bc.yml
Owners: none

increase Ephemeral storage
  common/jenkins-agents/golang/ocp-config/bc.yml
Owners: none

use uv instead of pip, ensuring retrocompatibility
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

cleanup
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

fix installation
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

fix installation path
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

fix python packages installation
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

fix installation
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

remove machine ID generation from NodeJS Dockerfiles
  common/jenkins-agents/nodejs18/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs20/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs22/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi9
Owners: none

remove isl from rust in ubi9 as it is bundled in gcc
  common/jenkins-agents/rust/docker/Dockerfile.ubi9
Owners: none

remove GConf2 from package installation in NodeJS Dockerfiles
  common/jenkins-agents/nodejs18/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs20/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs22/docker/Dockerfile.ubi9
  common/jenkins-agents/nodejs24/docker/Dockerfile.ubi9
Owners: none

change python installation to use uv
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

update Dockerfile.ubi9 to use --allowerasing for package installations
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

fix
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none
