Repository opendevstack/ods-quickstarters, changes with the owners that CODEOWNERS names for each.
All owners: @clemensutschig, @gerardcl, @henrjk, @stitakis, @renedupont, @buegelbeatz, @flightlama, @oalyman, @sino92, @hugowschneider, @sklingel, @cschweikert, @garcanam, @roicarrera, @metmajer, @rianet, @bljubisic, @terra-naut, @tbugfinder

CODEOWNERS:

/be-fe-mono-repo-plain/ @clemensutschig
/be-gateway-nginx/ @gerardcl
/be-golang-plain/ @henrjk
/be-java-springboot/ @stitakis @renedupont
/be-python-flask/ @buegelbeatz @henrjk @gerardcl
/be-rust-axum/ @gerardcl @flightlama
/be-scala-play/ @oalyman
/be-typescript-express/ @sino92
/docker-plain/ 
/ds-jupyter-lab/ @gerardcl @hugowschneider
/ds-rshiny/ @gerardcl
/ds-streamlit/ @sklingel
/e2e-cypress/ @cschweikert @garcanam @roicarrera
/e2e-spock-geb/ @metmajer @garcanam @roicarrera
/fe-angular/ @cschweikert
/fe-ionic/ @rianet @bljubisic
/inf-terraform-aws/ @terra-naut @tbugfinder
/inf-terraform-azure/ @terra-naut @tbugfinder
/ods-document-gen-svc/ @metmajer
/ods-provisioning-app/ @clemensutschig
/release-manager/ @metmajer

update Dockerfiles to set PIP_CERT environment variable for SSL certificate
  common/jenkins-agents/python/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

fix Dockerfile.ubi9 to correct pip install command syntax
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

fix
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

change frm nexusurl to nexusHost
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi8
  common/jenkins-agents/terraform-2306/ocp-config/bc.yml
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi8
  common/jenkins-agents/terraform-2408/ocp-config/bc.yml
Owners: none

test
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

update Dockerfile.ubi9 to remove unused PIP_EXTRA_INDEX_URL and ensure trusted host is set for pip install
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

refactor Dockerfile.ubi9 to create a custom pip wrapper script for better command handling
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

update Dockerfile.ubi9 to configure pip with custom index and trusted host settings
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

fix formatting in Dockerfile.ubi9 for pip configuration commands
  common/jenkins-agents/python/docker/Dockerfile.ubi9
Owners: none

update Dockerfile.ubi9 to configure pip with default index and trusted host settings
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

update bc.yml to rename NEXUS_URL parameter to NEXUS_HOST for consistency
  common/jenkins-agents/terraform-2306/ocp-config/bc.yml
  common/jenkins-agents/terraform-2408/ocp-config/bc.yml
Owners: none

update Dockerfile.ubi9 to allow pre-release versions for pip installations
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

update Dockerfile.ubi9 to define nexusUrl argument based on nexusHost
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

changelog
  CHANGELOG.md
Owners: none

update Dockerfile.ubi9 to define PIP_INDEX_URL and PIP_CERT for improved pip configuration
  common/jenkins-agents/python/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2306/docker/Dockerfile.ubi9
  common/jenkins-agents/terraform-2408/docker/Dockerfile.ubi9
Owners: none

fix: updating versions
  .github/workflows/continuous-integration-workflow.yml
  be-rust-axum/rust-template/.pre-commit-config.yaml
  be-rust-axum/rust-template/Cargo.toml
  be-rust-axum/rust-template/metadata.yml
  be-rust-axum/rust-template/rust-toolchain.toml
  common/jenkins-agents/rust/ocp-config/bc.yml
  docs/modules/jenkins-agents/pages/rust.adoc
  docs/modules/quickstarters/pages/be-rust-axum.adoc
Owners: @gerardcl, @flightlama

Add Quickstarters Automated Tests documentation and update navigation
  docs/modules/quickstarters/nav.adoc
  docs/modules/quickstarters/pages/authoring-quickstarters.adoc
  docs/modules/quickstarters/pages/quickstarters-automated-tests.adoc
Owners: none

update Changelog.md
  CHANGELOG.md
Owners: none

renovate QS
  renovate/Dockerfile.template
  renovate/Jenkinsfile
  renovate/Jenkinsfile.template
  renovate/README.md
  renovate/files/.gitignore
  renovate/files/README.md
  renovate/files/chart/.helmignore
  renovate/files/chart/Chart.lock
  renovate/files/chart/Chart.yaml
  renovate/files/chart/templates/configmap.yaml
  renovate/files/chart/values.yaml
  renovate/files/chart/values.yaml.secret.example
  renovate/files/import-certs.sh
  renovate/files/metadata.yml
  renovate/files/release-manager.yml
  renovate/icon.png
  renovate/sonar-project.properties.template
  renovate/testdata/fixtures/configmap.yaml
  renovate/testdata/fixtures/renovate-config.js
  renovate/testdata/golden/jenkins-build-stages.json
  renovate/testdata/golden/jenkins-provision-stages-python.json
  renovate/testdata/golden/jenkins-provision-stages.json
  renovate/testdata/golden/sonar-scan.json
  renovate/testdata/scripts/run-renovate-cronjob.sh
  renovate/testdata/steps.yml
Owners: none

Update Renovate dependency version and repository URL in Chart.yaml
  renovate/files/chart/Chart.yaml
Owners: none

Add Changelog
  CHANGELOG.md
Owners: none

Modifiy files/readme.md
  renovate/files/README.md
Owners: none

Add renovate bot QS #1145 (#1146)
  CHANGELOG.md
  renovate/Dockerfile.template
  renovate/Jenkinsfile
  renovate/Jenkinsfile.template
  renovate/README.md
  renovate/files/.gitignore
  renovate/files/README.md
  renovate/files/chart/.helmignore
  renovate/files/chart/Chart.lock
  renovate/files/chart/Chart.yaml
  renovate/files/chart/templates/configmap.yaml
  renovate/files/chart/values.yaml
  renovate/files/chart/values.yaml.secret.example
  renovate/files/import-certs.sh
  renovate/files/metadata.yml
  renovate/files/release-manager.yml
  renovate/icon.png
  renovate/sonar-project.properties.template
  renovate/testdata/fixtures/configmap.yaml
  renovate/testdata/fixtures/renovate-config.js
  renovate/testdata/golden/jenkins-build-stages.json
  renovate/testdata/golden/jenkins-provision-stages-python.json
  renovate/testdata/golden/jenkins-provision-stages.json
  renovate/testdata/golden/sonar-scan.json
  renovate/testdata/scripts/run-renovate-cronjob.sh
  renovate/testdata/steps.yml
Owners: none

Increase default memory resources for Docker-plain Quickstarter
  CHANGELOG.md
  docker-plain/files/chart/values.yaml
Owners: none

Increase default memory resources for Docker-plain Quickstarter (#1147)
  CHANGELOG.md
  docker-plain/files/chart/values.yaml
Owners: none

Add Cypress E2E tests and Jenkinsfile for Renovate Bot evidence collection
  renovate/testdata/fixtures/renovate-cypress/Jenkinsfile
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
  renovate/testdata/golden/jenkins-build-cypress.json
  renovate/testdata/golden/sonar-scan-cypress.json
  renovate/testdata/steps.yml
Owners: none

Update Cypress test environment variables and fix JSON output for Jenkins build
  renovate/testdata/fixtures/renovate-cypress/Jenkinsfile
  renovate/testdata/golden/jenkins-build-cypress.json
Owners: none

Add debug logging for environment variables in Renovate Bot tests
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
Owners: none

Refactor Renovate Bot tests to use template variables for Bitbucket credentials and remove debug logging
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
  renovate/testdata/steps.yml
Owners: none

Update Renovate Bot tests to use string interpolation for Bitbucket credentials
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
Owners: none

Refactor Renovate Bot tests to use hardcoded credentials for Bitbucket authentication
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
Owners: none

Fix artifact archiving for Cypress test reports by copying to a new filename
  renovate/testdata/fixtures/renovate-cypress/Jenkinsfile
Owners: none

Refactor Renovate Bot tests to use environment variables for Bitbucket credentials
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
Owners: none

Refactor Renovate Bot tests to use updated environment variable names for Bitbucket credentials
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/installation/renovate-installation.spec.cy.ts
  renovate/testdata/fixtures/renovate-cypress/tests/integration/renovate-integration.spec.cy.ts
Owners: none

Update artifact archiving in Jenkinsfile to store Cypress test reports in an artifacts directory
  renovate/testdata/fixtures/renovate-cypress/Jenkinsfile
Owners: none

chore: add specific versioning to e2e-spock-geb and e2e-etl-python
  e2e-etl-python/README.md
  e2e-etl-python/files/pyproject.toml
  e2e-spock-geb/README.md
  e2e-spock-geb/files/build.gradle
Owners: @metmajer, @garcanam, @roicarrera

chore: update changelog for e2e versioning
  CHANGELOG.md
Owners: none

Remove hardcoded Bitbucket credentials from steps.yml and update test report filename
  renovate/testdata/steps.yml
Owners: none

Add Cypress video and screenshot archiving to Jenkins pipeline
  renovate/testdata/fixtures/renovate-cypress/Jenkinsfile
Owners: none

Refactor Renovate Bot acceptance tests to use Bitbucket Web UI for verification and improve test descriptions
  renovate/testdata/fixtures/renovate-cypress/tests/acceptance/renovate-smoke.spec.cy.ts
Owners: none
